body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

#logBox {
  width: 60%;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  min-height: 120px;
}
